In [1]:
import pandas as pd
import numpy as np
from causalnex.structure import StructureModel

In [3]:
from causalnex.plots import plot_structure
from causalnex.network import BayesianNetwork

In [4]:
from sklearn.model_selection import train_test_split
from causalnex.plots import plot_structure, NODE_STYLE, EDGE_STYLE

import matplotlib.pyplot as plt
from causalnex.structure.notears import from_pandas
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [5]:
df = pd.read_csv('safe.csv')
df.head(3)

,Unnamed: 0.1,Unnamed: 0,order_id,driver_id,driver_action,lat,lng,Origin Lat,Origin Lng,trip_distance,driver_to_order_distance,Trip Start Time,Trip End Time,time_taken,speed,weekday_or_weekend
0,0,0,392001,243828,accepted,6.602207,3.270465,6.601042,3.276634,20.984319,0.694264,2021-07-01 09:30:59,2021-07-01,217.0,0.096702,Weekday
1,1,1,392001,243588,rejected,6.592097,3.287445,6.601042,3.276634,0.000000,1.551694,1970-01-01 00:00:00,1970-01-01,0.0,NaN,Weekday
2,2,2,392001,243830,rejected,6.596133,3.281784,6.601042,3.276634,0.000000,0.786777,1970-01-01 00:00:00,1970-01-01,0.0,NaN,Weekday

In [10]:
df = df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0', 'Trip Start Time', 'Trip End Time'], errors='ignore')

df.head(2)
# df =df.fillna(df.mean())
# df = df.replace([float('inf'), float('-inf')], 1e10)

,driver_action,trip_distance,driver_to_order_distance,time_taken,speed,weekday_or_weekend
0,accepted,20.984319,0.694264,217.0,0.096702,Weekday
1,rejected,0.000000,1.551694,0.0,NaN,Weekday

In [11]:
label_encoder = LabelEncoder()
df['driver_action'] = label_encoder.fit_transform(df['driver_action'])
df['weekday_or_weekend'] = label_encoder.fit_transform(df['weekday_or_weekend'])

In [12]:
scaler = MinMaxScaler()
scaled_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

scaled_df =scaled_df.head(1000)
scaled_df.head(2)

,driver_action,trip_distance,driver_to_order_distance,time_taken,speed,weekday_or_weekend
0,0.0,0.030856,0.001058,0.000665,0.018849,0.0
1,1.0,0.000000,0.002365,0.000000,NaN,0.0

In [18]:
driver_action_relations =[
    ('weekday_or_weekend', 'driver_action'),
    ('driver_to_order_distance', 'driver_action'),
    ('trip_distance', 'driver_action')

]

In [19]:
sm = StructureModel()

sm.add_edges_from(driver_action_relations)

In [20]:
{'weekday_or_weekend': 0,  'trip_distance': 1, 'speed': 2, 'driver_to_order_distance': 3, 'driver_action': 4}

{'weekday_or_weekend': 0,
 'trip_distance': 1,
 'speed': 2,
 'driver_to_order_distance': 3,
 'driver_action': 4}

In [22]:

viz = plot_structure(
    sm,
    # graph_attributes={"scale": "0.5"},
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)

viz.show('b.html')

b.html